In [1]:
import pandas as pd
import numpy as np

In [24]:
df=pd.read_csv("../Data/Phase 0(T-2) studs..csv")

In [25]:
df

,Timestamp,Username,Name,Age,Gender,1.TRAITS YOU HAVE (MAXIMUM FIVE),2.WHAT DO YOU PREFER THE MOST?,3.WHAT YOU PREFER?,4.CHARACTERS YOU WANT IN YOUR TEACHER(MAX SIX),"5. SUPPOSE YOU ARE TEACHER ,WHAT WOULD YOU PREFER?",6..WHAT DO YOU LOVE THE MOST IN LIFE?,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,2020/08/11 12:07:17 PM GMT+5:30,www.harryrock@gmail.com,Prem,20,Male,ACTIVE;ENERGETIC;SMART;QUIET,"A TEACHER WHO KNOWS ONLY ONE CHAPTER ,BUT HE /...",Educational based on specialization,NaN,2.TEACHING ONLY CHAPTER OF A SUBJECT IN WHICH ...,Myself,MOODY;PEACEFUL;HAPPY;OPTIMIST;SERIOUS;IGNORANT,PHYSICS;CODING;MUSICAL INSTRUMENTS PLAYING;SWI...,ATTENTIVE;BRILLIANT;SELF CENTRED;FRIENDLY;OBSE...,NaN
1,2020/08/14 8:23:02 PM GMT+5:30,adaksritiman24@gmail.com,Sritiman Adak,20,Male,LAZY;TALKATIVE;QUIET,"A TEACHER WHO KNOWS ONLY ONE CHAPTER ,BUT HE /...",Education not based on specialization(avg.),ACTIVE;TEACHING SLOWLY;CALM;FUNNY;HAPPY;POLITE...,2.TEACHING ONLY CHAPTER OF A SUBJECT IN WHICH ...,Staying happy,FRUSTATED;BORED;MOODY;PEACEFUL;HAPPY;OPTIMIST,PHYSICS;CODING;SWIMMING;PAINTING,ATTENTIVE;TACTFUL;OBSERVANT;CREATIVE;IMAGINATIVE,NaN
2,2020/08/14 8:26:08 PM GMT+5:30,sumitanand3098@gmail.com,Sumit Anand,20,Male,TALKATIVE;SMART,A TEACHER WHO KNOW ALL CHAPTERS OF A SUBJECT I...,Educational based on specialization,SERIOUS ABOUT STUDY;ACTIVE;SERIOUS ABOUT TIME;...,2.TEACHING ONLY CHAPTER OF A SUBJECT IN WHICH ...,life-lession,PEACEFUL,MATHS;SOCIAL STUDIES;LITERATURE;VOCAL MUSIC;WR...,FRIENDLY;IMAGINATIVE;WARM HEARTED(sympathetic ...,NaN
3,2020/08/14 8:26:59 PM GMT+5:30,sumitskt39@gmail.com,Sumit Kumar Thakur,20,Male,ACTIVE;QUIET,"A TEACHER WHO KNOWS ONLY ONE CHAPTER ,BUT HE /...",Educational based on specialization,SERIOUS ABOUT STUDY;ACTIVE;SERIOUS ABOUT TIME;...,2.TEACHING ONLY CHAPTER OF A SUBJECT IN WHICH ...,NaN,OPTIMIST;SERIOUS,PHYSICS;CODING,FRIENDLY,NaN
4,2020/08/14 8:38:29 PM GMT+5:30,mukherjeesayan98@gmail.com,sayan mukherjee,20,Male,QUIET,"A TEACHER WHO KNOWS ONLY ONE CHAPTER ,BUT HE /...",Education based on specialization,SERIOUS ABOUT STUDY;ACTIVE;TEACHING SLOWLY;CAL...,2.TEACHING ONLY CHAPTER OF A SUBJECT IN WHICH ...,NaN,PEACEFUL,CODING;SOCIAL STUDIES,ATTENTIVE,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2020/09/27 4:26:28 PM GMT+5:30,sinhakirti250520010@gmail.com,Kirti,19,Female,TALKATIVE;FRIENDLY;CREATIVE,"A TEACHER WHO KNOWS ONLY ONE CHAPTER ,BUT HE /...",Education based on specialization,SERIOUS ABOUT STUDY;ACTIVE;HUMOROUS;TALENTED;K...,2.TEACHING ONLY CHAPTER OF A SUBJECT IN WHICH ...,Nahi patta,NaN,NaN,NaN,NaN
96,2020/09/27 4:27:46 PM GMT+5:30,bhartikomal7010@gmail.com,Komal,20,Female,OPTIMIST,"A TEACHER WHO KNOWS ONLY ONE CHAPTER ,BUT HE /...",Education based on specialization,GENTLE;TALENTED,2.TEACHING ONLY CHAPTER OF A SUBJECT IN WHICH ...,Myself,NaN,NaN,NaN,NaN
97,2020/09/27 4:28:55 PM GMT+5:30,deymoumita1080@gmail.com,Moumita,19,Female,TALKATIVE;FRIENDLY;IMAGINATIVE,A TEACHER WHO KNOWS ALL CHAPTERS OF A SUBJECT ...,Education based on specialization,ACTIVE;CALM;TALKATIVE;KNOWLEDGE ORIENTED,2.TEACHING ONLY CHAPTER OF A SUBJECT IN WHICH ...,R.B,NaN,NaN,NaN,NaN
98,2020/09/27 4:29:55 PM GMT+5:30,muskangupta.mg111@gmail.com,Muskan,23,Female,ACTIVE;PEACEFUL;CREATIVE,"A TEACHER WHO KNOWS ONLY ONE CHAPTER ,BUT HE /...",Education based on specialization,ACTIVE;SERIOUS ABOUT TIME;CALM;SMART;KNOWLEDGE...,1.TEACHING ALL CHAPTERS OF A SUBJECT .,R.B,NaN,NaN,NaN,NaN
99,2020/09/27 4:31:37 PM GMT+5:30,nidhirai189898@gmail.com,Nidhi,20,Female,LAZY;SHORT TEMPERED,"A TEACHER WHO KNOWS ONLY ONE CHAPTER ,BUT HE /...",Education not based on specialization(avg.),CALM;CURIOUS;IGNORANT;TACTFUL,2.TEACHING ONLY CHAPTER OF A SUBJECT IN WHICH ...,I,NaN,NaN,NaN,NaN

In [40]:
df1=df.copy()

In [41]:
columns=['time','email','name','age','gender','physical','student_pref','specialization','teacher_char','teacher_pref','life_love','Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14']
df1.columns=columns

In [42]:
df1.drop(columns=['email','name','life_love', 'Unnamed: 11','Unnamed: 12','Unnamed: 13','Unnamed: 14'],inplace=True)

In [43]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   time            100 non-null    object
 1   age             99 non-null     object
 2   gender          100 non-null    object
 3   physical        100 non-null    object
 4   student_pref    100 non-null    object
 5   specialization  100 non-null    object
 6   teacher_char    99 non-null     object
 7   teacher_pref    100 non-null    object
dtypes: object(8)
memory usage: 6.4+ KB

In [44]:
df1['time']=pd.to_datetime(df1['time'])

In [45]:
df1['physical']=df1['physical'].str.split(';')

In [46]:
df1=df1.reset_index().rename(columns={'index':'ID'})

In [47]:
def extract_trait(traits, column):
    for trait in traits[column]:
        df2.append([traits['ID'],trait])

In [48]:
df2=[]
df1[['ID','physical']].apply(extract_trait, axis=1, args=('physical',))
user_traits=pd.DataFrame(df2,columns=['UserId','Trait'])

In [49]:
user_traits

     UserId           Trait
0         0          ACTIVE
1         0       ENERGETIC
2         0           SMART
3         0           QUIET
4         1            LAZY
..      ...             ...
323      98          ACTIVE
324      98        PEACEFUL
325      98        CREATIVE
326      99            LAZY
327      99  SHORT TEMPERED

[328 rows x 2 columns]

In [50]:
df1['teacher_char']=df1['teacher_char'].str.split(';')

In [51]:
df2=[]
df1[~df1['teacher_char'].isna()][['ID','teacher_char']].apply(extract_trait, axis=1, args=('teacher_char',))
teachers_characters=pd.DataFrame(df2,columns=['UserId','TeacherChar'])

In [52]:
teachers_characters

     UserId         TeacherChar
0         1              ACTIVE
1         1     TEACHING SLOWLY
2         1                CALM
3         1               FUNNY
4         1               HAPPY
..      ...                 ...
673      98  KNOWLEDGE ORIENTED
674      99                CALM
675      99             CURIOUS
676      99            IGNORANT
677      99             TACTFUL

[678 rows x 2 columns]

In [17]:
df2=[]
df1[~df1['talents'].isna()][['ID','talents']].apply(extract_trait, axis=1, args=('talents',))
talents=pd.DataFrame(df2,columns=['UserId','Talents'])

In [18]:
talents

     UserId   Talents
0         0     MOODY
1         0  PEACEFUL
2         0     HAPPY
3         0  OPTIMIST
4         0   SERIOUS
..      ...       ...
141      44  OPTIMIST
142      45  PEACEFUL
143      45     HAPPY
144      45   SERIOUS
145      46  OPTIMIST

[146 rows x 2 columns]

In [19]:
df1.drop(columns=['physical','psychological','other_traits','teacher_char','talents'],inplace=True)

In [20]:
df1.head()

,ID,time,age,gender,student_pref,specialization,teacher_pref
0,0,2020-08-11 12:07:17-05:30,20,Male,NaN,2.TEACHING ONLY CHAPTER OF A SUBJECT IN WHICH ...,ATTENTIVE;BRILLIANT;SELF CENTRED;FRIENDLY;OBSE...
1,1,2020-08-14 20:23:02-05:30,20,Male,ACTIVE;TEACHING SLOWLY;CALM;FUNNY;HAPPY;POLITE...,2.TEACHING ONLY CHAPTER OF A SUBJECT IN WHICH ...,ATTENTIVE;TACTFUL;OBSERVANT;CREATIVE;IMAGINATIVE
2,2,2020-08-14 20:26:08-05:30,20,Male,SERIOUS ABOUT STUDY;ACTIVE;SERIOUS ABOUT TIME;...,2.TEACHING ONLY CHAPTER OF A SUBJECT IN WHICH ...,FRIENDLY;IMAGINATIVE;WARM HEARTED(sympathetic ...
3,3,2020-08-14 20:26:59-05:30,20,Male,SERIOUS ABOUT STUDY;ACTIVE;SERIOUS ABOUT TIME;...,2.TEACHING ONLY CHAPTER OF A SUBJECT IN WHICH ...,FRIENDLY
4,4,2020-08-14 20:38:29-05:30,20,Male,SERIOUS ABOUT STUDY;ACTIVE;TEACHING SLOWLY;CAL...,2.TEACHING ONLY CHAPTER OF A SUBJECT IN WHICH ...,ATTENTIVE

In [21]:
user_traits.to_csv('../Data/UserTraits.csv',index=False)
teachers_characters.to_csv('../Data/TeacherChar.csv',index=False)
talents.to_csv('../Data/UserTalents.csv',index=False)
df1.to_csv('../Data/Main.csv',index=False)